@import url(common.css);
@import url(nav.css);
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body{  
  position: relative;
  width: 100%;
}

/* section 시작 */

section{
  width: 100%;
  margin-top: 100px;
}
section h2{
  margin-left: 35px;
}
.list{
  width: 85%;
  margin: 50px auto;
}
.list li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #9e9e9e;
  cursor: pointer;
  background-color: #fff;
}