@import url(common.css);
@import url(footer.css);
@import url(nav.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



/* main */

main{
  position: relative;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background: url(../image/back.jpg) no-repeat center center;
  background-size: cover;
}

.mainText{
  position: absolute;
  top: 65%;
  left: 10%;
  color: #fff;
  animation: main1 1.5s alternate;
  animation-fill-mode:both ;
}
.mainText h4{
  font-size: 18px;
  font-weight: 300;
}
.mainText h2{
  font-size: 36px;
  font-weight: 600;
}
.mainText h2 span{
  color: #D9D000;
}
.mainText p{
  font-size: 15px;
  font-weight: 200;
}

@keyframes main1{
  0%{
    margin-top: 50px;
    opacity: 0;
  }
}

/* contents */

section{
  width: 100%;
  margin: auto;
}
.Text1{
  width: 85%;
  padding-top: 40px;
  text-align: center;
  margin: auto;
}
.Text1 h2{
  font-size: 20px;
  font-weight: 400;
  color: #D9D000;
}
.Text1 p{
  margin-top: 18px;
  font-size: 13px;
}
.Text2{
  width: 100%;
  padding-top: 40px;
  text-align: center;
  margin: auto;
}
.Text2 h2{
  font-size: 20px;
  font-weight: 400;
}
.Text2 p{
  margin-top: 18px;
  font-size: 13px;
}

.info_Menu{
  margin-top: 47px;
  display: flex;
  justify-content: space-around;
}

.info_Menu li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 1px solid #D9D000;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.info_Menu li span{
  font-size: 30px;
}
.info_Menu li p{
  font-size: 12px;
}
.info_Menu2{
  margin: auto;
  width: 95%;
  margin-top: 94px;
  margin-bottom: 83px;
}
.info_Menu2 li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  border-top: 1px solid #fff;
}
.info_Menu2 li h4{
  font-size: 16px;
  font-weight: 400;
}
.info_Menu2 li p{
  font-size: 11px;
  margin-top: 16px;
}
.info_Menu2 li span{
  font-size: 45px;
  margin-right: 20px;
}
.info_Menu2 li:nth-child(4){
  border-bottom: 1px solid #fff;
}
.today_weather{
  margin-top: 83px;
  margin: auto;
  width: 95%;
  height: 150px;
  border-radius: 20px;
  background: url(../image/bkac2.png)no-repeat center center;
  background-size: cover;
}
.weatherText_1{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.weatherText_2{
  display: flex;
  align-items: center;
  margin: 10px;
}
.weatherText_2 span{
  font-size: 50px;
  margin-right: 15px;
}
.sunset{
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}
