@import url(common.css);
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
  width: 100%;
}
header{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: #00c88c;
}
nav{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  width: 100px;
  margin-left: 20px;
}
.trigger{
  position: relative;
  width: 35px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.trigger span{
  position: absolute;
  width: inherit;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

/* 메뉴창 */
.gnbBar{
  position: fixed;
  z-index: 99;
  right: -90%;
  width: 90%;
  height: 100vh;
  background-color: #00c88c;
  color: #fff;
  transition: 0.3s;
}
.gnbBar.active{
  right: 0%;
}
.gnbBar_in{
  margin-left: 20px;
}
.loginbox{
  display: flex;
  align-items: center;
  margin-top: 60px;
  left: 0;
  cursor: pointer;
}
.loginBox_Text{margin-left: 20px;}
.loginBox_Text h6{font-size: 18px; margin-bottom: 10px;}
.loginBox_Text p{font-size: 10px;}
.Rarrow{margin-left: 54px;}

.loginBox_SubMenu{
  display: flex;
  align-items: center;
  height: 22px;
  margin-top: 35px;
}
.loginBox_SubMenu p{margin-right: 40px;}
.loginBox_SubMenu p:nth-child(1){
  padding-right: 10px;
}
#mypageBtn{
  font-size: 10px;
  margin-right: 20px;
}
.loginBox_SubMenu_Left{
  display: flex;
  font-size: 18px;
}
.loginBox_SubMenu_Left p{
  padding: 0 27px;
}
.loginBox_SubMenu_Left p:nth-child(1){
  border-right: 1px solid #fff;
}
.gnb{
  margin-top: 53px;
  width: 60%;
}
.gnb li{
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 15px;
  border-bottom: 1px solid #00996b;
}
.gnb li span{
  font-size: 12px;
  margin-left: 20px;
  color: #333333;
}

.sns img{
  width: 30px;
  margin: 30px 30px 0 0;
}

/* 메뉴창 끝 */
.trigger span:nth-child(1){top: 0;}
.trigger span:nth-child(2){top: 50%;}
.trigger span:nth-child(3){top: 100%;}

.trigger.active span:nth-child(1){top: 50%; transform: rotate(45deg);}
.trigger.active span:nth-child(2){opacity: 0;}
.trigger.active span:nth-child(3){top: 50%; transform: rotate(-45deg);}

.popUp{
  position: fixed;
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: space-around;
  bottom: 0;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.288);
}
.popUp p{
  font-size: 12px;
}
.popUp p span{
  color: yellow;
}
.popUp img{
  width: 30px;
  border-radius: 5px;
}
.closePopUp{
  cursor: pointer;
  padding: 10px;
}
/* main */

main{
  font-family: 'GmarketSansMedium';
  width: 100%;
  height: 700px;
  text-align: center;
  font-size: 24px;
}

main h2{line-height: 45px; padding-top: 130px;}

main h2 span{
  color: #00c88c;
}
main img{
  width: 100%;
}
main p{
  font-family: 'Noto Sans KR', sans-serif; 
  font-size: 14px;
  margin-top: 20px;
  color: #777;
}
#download_Btn{
  width: 40%;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: #00c88c;
  color: #fff;
  cursor: pointer;
}

section{
  width: 100%;
  height: 3000px;
  background-color: #efefef;
}

/* article1 */

.article1{
  width: 100%;
  color: #fff;
  background-color: #00c88c;
}
.article1_one{
  position: relative;
  width: 100%;
  height: 367px;
  margin: auto;
  background: url(../image/main_pic_01.png);
}
.article1_one h2{
  position: absolute;
  margin-left: 10px;
  top: 280px;
  font-weight: 400;
}
.article1_one h2 span{
  color: #00c88c;
  font-weight: 700;
}
.article1_two{
  position: relative;
  display: flex;
  width: 95%;
  margin: auto;
}
.article1_two img{
  position: absolute;
  top: -170px;
  right: 0;
  width: 30%;
}
.article1_two_Text{
  padding: 30px 0;
}
.article1_two p{
  margin-bottom: 10px;
}

/* article2 */

.article2{
  position: relative;
  width: 100%;
  color: #fff;
  background-color: #15BAB2;
}
.article2 img{
  position: absolute;
  bottom: 0;
  width: 80%;
}
.article2_in{
  position: relative;
  width: 95%;
  height: 500px;
  margin: auto;
}
.article2_in_Text{
  position: absolute;
  z-index: 10;
  top: 40px;
  right: 5px;
}
.article2_in h2{
  text-align: left;
}
.article2_in p{
  width: 100%;
  margin-top: 20px;
}
.article2_Btn{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.art2Btn{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  margin: 10px 0;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

/* article3 */
.article3{
  color: #fff;
  background-color: #6F60B5;
}
.article3_one{
  position: relative;
  background: url(../image/car.jpg)no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 287px;
}
.article3_one h2{
  position: absolute;
  bottom: 20px;
  margin-left: 10px;
}

.article3_two{
  position: relative;
  width: 100%;
  height: 200px;
}
.article3_two_Text{
  margin: 60px 10px;
  width: 45%;
}
.article3_two img{
  position: absolute;
  width: 70%;
  top: -120px;
  right: -30px;
}
.art3_btn{
  width: 70%;
  height: 40px;
  margin: 30px 0;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}