@import url(common.css);
@import url(nav.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body{
  width: 100%;
}

/* section 시작 */

section{
  width: 100%;
}
form{
  margin-top: 100px;
}

/* 로그인 폼 */

.loginMenu{
  display: flex;
  margin: auto;
  width: 85%;
  height:50px;
  text-align: center;
  line-height: 50px;
}
.L_Point_Member{
  width: 50%;
  color: #fff;
  background-color: #00c88c;
  cursor: pointer;
}
.greenCar_Member{
  width: 50%;
  cursor: pointer;
  background-color: #efefef;
}
.login_Info_Text{
  width: 80%;
  margin: auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}
.login_all{
  width: 85%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
.login_Text{
  text-align: left;
}
.login_all input{
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  padding-left: 15px;
}
.longin_Btn{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.longin_Btn button{
  width: inherit;
  height: 40px;
  cursor: pointer;
}
.longin_Btn button:nth-child(1){
  color: #fff;
  background-color: #00c88c;
  border: none;
}
.longin_Btn button:nth-child(2){
  margin-top: 20px;
  background-color: transparent;
  color: #00c88c;
  border: 1px solid #00c88c;
}
.forgot{
  display: flex;
  justify-content: center;
}
.forgot p{
  padding: 30px 20px;
}





footer{
  margin-top: 150px;
  width: 100%;
  height: 370px;
  text-align: center;
  background-color: #333333;
}
.footer_sns{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.footer_sns li{
  padding: 10px;
}
.footer_sns li img{
  width: 30px;
  height: 30px;
}
.footer_p{
  font-size: 8px;
  color: #888;
  margin-top: 20px;
}
.copyright{
  margin-top: 20px;
  font-size: 8px;
  color: #888;
}