@import url(common.css);
@import url(footer.css);
@import url(nav.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



main{
  position: relative;
  background: url(../image/part3_main_back.jpg) no-repeat left center;
  background-size: cover;
  width: 100%;
  height: 231px;
  padding-top: 50px;
}
main h2{
  position: absolute;
  top: 200px;
  left: 20px;
}
section{
  width: 100%;
}

.subMenu{
  display: flex;
  width: 100%;
  overflow: scroll;
  margin-top: 32px;
   /* 가로 스크롤 */
  overflow: auto;
  white-space: nowrap;
}
.subMenu::-webkit-scrollbar{
  display: none; 
}
.subMenu li{
  margin: 3px;
  padding: 2px 10px;
  border: 1px solid yellowgreen;
  border-radius: 20px;
  font-size: 15px;
}

article{
  width: 95%;
  margin: auto;
}

.infotext{
  margin-top: 71px;
  text-align: center;
}

.infotext h2{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}
.infotext p{
  font-size: 12px;
  width: 95%;
  margin: auto;
}
.infotext p span{
  color: #D9D000;
}

/* content 영역 */

.content{ /* 각 content 영역 공통사항 */
  width: 95%;
  margin: auto;
}
.content p{
  font-size: 12px;
}
/* _____content1 start______ */

.content1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  height: 130px;
  margin-top: 47px;
}
.content1 img{
  width: 130px;
  height: 130px;
  border-radius: 20px;
}

.content1_Right p{
  width: 207px;
}

.content1_Right p span{
  color: #D9D000;
}

/* _____content1 end_____ */
/* _____content2 start_____ */
.content2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 63px;
}
.content2_Left p{
  width: 202px;
}
.content2_Left p span{
  color: #D9D000;
}
.content2_Right img{
  width: 130px;
  height: 130px;
  border-radius: 20px;
}

/* _____content2 end_____ */
/* _____content3 start_____ */

.content3{
  margin-top: 68px;
  text-align: center;
}
.content3 img{
  width: 95%;
  border-radius: 20px;
}
.content3_bottom p{
  text-align: center;
  width: inherit;
  margin-top: 30px;
}
/* _____content3 end_____ */